{% extends 'base.html' %}
{% block title %}Tableau de bord{% endblock %}

{% block content %}

 <!-- Bouton pour ajouter une absence -->
<div class="left-panel">
   
   
    <!-- Bouton visible uniquement pour les super utilisateurs -->
    {% if user.is_superuser %}
    <button id="btn-special">Bouton spécial</button>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Acquis</th>
                <th>Solde</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ acquis }}</th>
                <th>{{ solde }}</th>
                <th>{{ pris }}</th>
            </tr>
        </tbody>
    </table>
    <h2>Types d'absences</h2>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Du</th>
                <th>Au</th>
            </tr>
        </thead>
        <tbody>
            {% for demande in demandes_absence %}
            <tr>
                <td>{{ demande.type_absence.nom }}</td>
                <td>{{ demande.date_debut }}</td>
                {% if demande.date_fin %}
                    <td>{{ demande.date_fin }}</td>
                {% else %}
                    <td>Pas de date de annoncée</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


    <div id="calendrier"></div>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendrier');
      
          
          var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'multiMonthYear,dayGridMonth,timeGridWeek'
            },
            initialView: 'multiMonthYear',
            initialDate: '2024-01-01',
            editable: true,
            selectable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            // multiMonthMaxColumns: 1, // guarantee single column
            // showNonCurrentDates: true,
            // fixedWeekCount: false,
            // businessHours: true,
            // weekends: false,
             events: '{% url "evenements" %}'

          });
      
          calendar.render();
        });
         </script>
{% endblock %}
