{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supprimer un collaborateur</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <h1>Supprimer un collaborateur</h1>
    <p>Êtes-vous sûr de cloturer le contrat de: {{ collaborateur }} ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmer la suppression</button>
        <a href="{% url 'liste_collaborateurs' %}"><button type="button">Annuler</button></a>
    </form>
</body>
</html>
