{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page de base{% endblock %}</title>
    <script src="{% static 'js/calendar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
</head>
<body>
    <!-- Barre de navigation -->
    <div class="navbar">
        <div class="logo">
            <!-- Insérez votre logo ici -->
        </div>
        <div class="platform-name">
            <img src="{% static 'img/platform.png' %}" alt="Corpoman" height="35">
        </div>        
        <div class="user-info">
            <img src="{{ user.avatar.url }}" alt="{{ user.last_name }}" height="50px">
        </div>
        <div class="logout">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Déconnexion</button>
            </form>            
        </div>
    </div>

    <!-- Contenu de la page -->
    <div class="content">
        <!-- Barre de navigation verticale -->
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'accueil' %}" class="{% if request.path == '/home/' %}active{% endif %}">Accueil</a></li>
                <li><a href="#" class="{% if 'tasks' in request.path %}active{% endif %}">Tâches</a></li>
                <li><a href="{% url 'dayoff' %}" class="{% if 'dayoff' in request.path %}active{% endif %}">Absences et congés</a></li>
                <li><a href="{% url 'dayoff' %}" class="{% if 'dayoff' in request.path %}active{% endif %}">Mes absences</a></li>
                <li><a href="{% url 'mon_profil' %}" class="{% if 'profil' in request.path %}active{% endif %}">Mon profil</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'liste_collaborateurs' %}" class="{% if 'collaborateurs' in request.path %}active{% endif %}">Collaborateurs</a></li>
                <li><a href="{% url 'admin:index' %}">Administration</a></li>
                <li><a href="{% url 'dashboard' %}">Dev view</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- Contenu variable de la page -->
        <div class="page-content">
            {% block content %}
            <!-- Contenu spécifique de chaque page -->
            {% endblock %}
        </div>
    </div>
    {% block extra_js %}
    <script>
        var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
    </script>
{% endblock %}
</body>
</html>
