{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page de base{% endblock %}</title>
    <script src="{% static 'js/calendar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Employe.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
</head>
<body>
    <!-- 
    
        <div class="platform-name">
            <img src="{% static 'img/platform.png' %}" alt="Corpoman" height="35">
        </div>        
        <div class="user-info">
            <img src="{{ user.avatar.url }}" alt="{{ user.last_name }}" height="50px">
        </div>
        <div class="logout">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Déconnexion</button>
            </form>            
        </div>   Barre de navigation -->
 

    <!-- Contenu de la page -->

      
        <div class="sidebar" style="width:220px; background-color: #d9d9d9;margin-top: 16px;">

            <div class="platform-name">
                <img src="{% static 'img/LogoApp.png' %}" alt="Corpoman" style="height: 58px;">
            </div>  
            <div>
            <h1 id="title">Vous</h1>
            <div class="SidebarItem">
                <img  src="{% static 'img/Acceuil.png' %}" alt="" height="25" width="25"style="margin-right: 5px;">
                <a href="{% url 'accueil' %}"  >Accueil</a>
            </div>
            <div class="SidebarItem">
                <img  src="{% static 'img/MonProfil.png' %}" alt="" height="25" width="25" style="margin-right: 5px;">
                <a href="{% url 'mon_profil' %}"  >Mon profil</a>
            </div>
            <div class="SidebarItem">
                <img  src="{% static 'img/Conge.png' %}" alt="" height="25" width="25" style="margin-right: 5px;">
                <a href="{% url 'dayoff' %}"  >Congés et Absences</a>
            </div>
            <div class="SidebarItem">
                <img  src="{% static 'img/clipboard.png' %}" alt="" height="25" width="25" style="margin-right: 5px;">
                <a href="#"  >Tâches</a>
            </div>
            <div class="SidebarItem">
                <img  src="{% static 'img/SuiviTemps.png' %}" alt="" height="25" width="25" style="margin-right: 5px;">
                <a href="#">Suivi du temps</a>
            </div>
        </div>

        <div>
            <h1 id="title" style="margin-top: 20px;">Votre entreprise</h1>
            <div class="SidebarItem">
                <img  src="{% static 'img/Vector.png' %}" alt="" height="25" width="25"style="margin-right: 5px;">
                <a href="#"  >Organigramme</a>
            </div>
            <div class="SidebarItem">
                <img  src="{% static 'img/calendrier.png' %}" alt="" height="25" width="25" style="margin-right: 5px;">
                <a href="#"  >Calendrier</a>
            </div>
            <div class="SidebarItem">
                <img  src="{% static 'img/sondage.png' %}" alt="" height="25" width="25" style="margin-right: 5px;">
                <a href="#"  >Sondage</a>
            </div>
           
        
        </div>
          </div>
          

        <!-- Contenu variable de la page -->

       
        <div class="page-content" style="margin-top: -538px;">
            {% if user.is_superuser %}
            <div class="navbarCollaborateurs">
                <ul>
                    <li><a href="{% url 'liste_collaborateurs' %}" class="{% if request.path == '/collaborateurs/' %}active{% endif %}">Collaborateurs</a></li>
                    <li><a href="{% url 'equipes-list' %}" class="{% if 'equipes' in request.path %}active{% endif %}">Équipes</a></li>
                    <li><a href="{% url 'emploi-list' %}" class="{% if 'emplois' in request.path %}active{% endif %}">Emplois</a></li>
                    <li><a href="{% url 'organigramme' %}" class="{% if 'organigramme' in request.path %}active{% endif %}">Organigramme</a></li>
                </ul>
            </div>
            {% endif %}
            {% block content %}
            <!-- Contenu spécifique de chaque page -->
            {% endblock %}
         
        </div>
        
    {% block extra_js %}
    <script>
        var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
    </script>
{% endblock %}
</body>
</html>
