{% extends 'base.html' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    <!-- Tâches -->
    <div class="accordion-section">
        <button class="accordion">Taches</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
    </div>

    <!-- Équipes -->
    <div class="accordion-section">
        <button class="accordion">Equipes</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
    </div>

    <!-- Absences dans votre équipe -->
    <div class="accordion-section">
        <button class="accordion">Absences dans votre équipe</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
    </div>

    <!-- Jours fériés à venir -->
    <div class="accordion-section">
        <button class="accordion">Jours fériés à venir</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
    </div>
{% endblock %}



